*{
	margin: 0;
	padding: 0;
}
.rel{
	position: relative;
}
.canvas .src{
	visibility: hidden;
	position: absolute;

}

.canvas{

	white-space: nowrap;
	position: relative;
		margin: 0 auto;
font-family: fantasy;

}

.explode{
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
}
body{
	background: #f00;
}
